.demo {
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.back {
    position: absolute;
    left: 20px;
    bottom: 15px;
    padding: 10px;
}