.experience {
   margin-top: 20px;
}

.subTitle {
    font-weight: bold;
}

.img {
    margin-top: 5px;
    height: 40px;
}

.img2 {
    margin-top: 5px;
    height: 55px;
}

.tech {
    font-size: 0.8em;
    font-style: italic;
}