.menu{
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 5px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}